<!doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav nav-pills">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="jumbotron"></div>
        <main ng-view></main>
        <!--Scripts-->
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/javascripts/app.min.js"></script>
        <!--Scripts-->
    </body>
</html>